bilinear layer

In [ ]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd

In [ ]:
e = torch.randn(4,1)  #define e (paramters)
#e = K #how to run using the K matrix
W = torch.randn(50, 4, 4) #define W, tensor, 50 layers of 4x4 matrices
W2 = torch.randn(50, 4, 4) #define W2
V = torch.randn(50,8)  #define V
b = torch.randn(50, 1)  #define b
A = torch.randn(50, 1) #random tensor for bilinear_one
F = torch.randn(50, 1) #random tensor for bilinear_two

In [ ]:
def f1(e, W, W2, V, b, A, F):
  et = torch.transpose(e,1,0)   #transpose e from column to row
  esq = torch.mul(e, e)  #squares e
  for k in range (0, 50): 
      # index = torch.tensor([k]) #index for layers of W
      # B = torch.index_select(W, 0, index)  #gives you a layer of W
      # C = torch.squeeze(B) # from 1x4x4 -> 4x4
     B = W[k, :, :]
    # D = print(torch.mm(et,torch.mm(B, e))) # gives a 1x1 tensor using layer of this loop
     A[k, 0] = torch.mm(et,torch.mm(B, e))  #puts values together -> 50x1 tensor
     G = W2[k, :, :]
   #  J = print(torch.mm(et,torch.mm(G, esq))) # gives a 1x1 tensor using layer of this loop
     F[k, 0] =torch.mm(et,torch.mm(G, esq))  #matrix multiplication
  ecat = torch.cat((e, esq)) 
  L=torch.mm(V, ecat)
  Q = A + F + L + b #adds all four 50x1 tensors -> output
  return(Q)

data importation

In [ ]:
import pandas as pd
import torch

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!gdown --id 1Qu35-_q61nGPDz0BzwKku27VIp7q1HbZ  #downloads csv file

Downloading...
From: https://drive.google.com/uc?id=1Qu35-_q61nGPDz0BzwKku27VIp7q1HbZ
To: /content/parameters.csv
100% 1.41M/1.41M [00:00<00:00, 44.7MB/s]

In [ ]:
df = pd.read_csv("parameters.csv", header=None)  #reads csv file; makes 0, 1, 2, 3 the heading instead of the first row of parameter values

In [ ]:
print(df.iloc[0]) 
df.head() #gives first 5 rows

0    22.01
1     0.72
2     1.21
3     0.61
Name: 0, dtype: float64

       0     1     2     3
0  22.01  0.72  1.21  0.61
1  19.77  0.14  1.29  0.95
2  24.64  1.32  1.21  0.66
3  24.55  0.87  1.42  0.99
4  21.79  0.51  1.26  0.76

In [ ]:


result=torch.randn(len(df), 50) #create a tensor to store results
for k in range(0, len(df)): # calculate Q for each column
    aa=df.iloc[[k]] #gives row
    bb=torch.tensor(aa.values).float()  # convert row data into tensor
    cc = torch.transpose(bb, 0, 1)      #transpose bb row tensor it into 4*1 tensor
    dd=f1(cc, W, W2, V, b, A, F)  #run the function to get Q for each random e and fixed W, W2, V, b, A, F
    result[[k]] = torch.transpose(dd, 1, 0) # convert 50*1 calculation result into 1*50 # in result, the kth row is the result from kth row of data
print(result)

tensor([[ -5261.2690,  -4084.6313,   2652.1970,  ..., -12595.2227,
          14006.1895,  -3045.0271],
        [ -3835.6313,  -3005.4211,   1682.4802,  ...,  -8546.5361,
          10623.9668,  -2246.0667],
        [ -7496.4565,  -5666.5317,   4194.6128,  ..., -18216.0723,
          19261.9688,  -3917.9216],
        ...,
        [ -3614.3997,  -2599.0234,   2376.6917,  ...,  -7763.6001,
           9649.2510,  -2121.9348],
        [ -6375.7612,  -4695.8291,   3449.5664,  ..., -14794.1943,
          17203.2871,  -4292.2515],
        [ -1508.5248,  -1204.4741,   1042.6411,  ...,  -3326.3054,
           4073.7644,   -838.0945]])